.tasksList {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  padding: 12px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    opacity: 0.3;
  }
}
