.taskCard {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  background-color: #f5f5f5;
  opacity: 0.3;
  border-radius: 8px;
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

// todo: make round button component
@mixin button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  height: 28px;
  border: none;
  outline: none;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}

.copyButton {
  @include button;
  transition: all 0.2s ease-in;
  background-color: #e4e4e4;

  @mixin doc {
    position: absolute;
    width: 10px;
    height: 12px;
    border-radius: 2px;
    border: 2px solid #555;
    background-color: white;
  }

  .forwardDoc {
    @include doc;
    transform: translate(-1px, -1px);
  }

  .backwardDoc {
    @include doc;
    transform: translate(2px, 2px);
  }

  &_copied {
    transform: translateY(-5px);
  }
}

.editButton {
  @include button;
  background-color: #dcdded;

  div {
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #48739c;
    transform: rotate(-45deg);
  }
}

.removeButton {
  @include button;
  background-color: #efd5d5;

  @mixin dash {
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #ac5d5d;
  }

  .first {
    @include dash;
    transform: rotate(45deg);
  }

  .second {
    @include dash;
    transform: rotate(-45deg);
  }
}
