$icon-color: #dadae2;
$icon-color-hover: #9999a2;

.shareButton {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #fcfcfc;

    .round1, .round2, .round3, .line1, .line2 {
      background-color: $icon-color-hover;
    }
  }
}

@mixin round {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $icon-color;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

@mixin line {
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: $icon-color;
  transition: 0.2s ease-in-out;
}

.round1 {
  @include round;
  top: 10px;
  left: 30px;
}

.round2 {
  @include round;
  top: 20px;
  left: 12px;
}

.round3 {
  @include round;
  top: 30px;
  left: 30px;
  width: 14px;
  height: 14px;
}

.line1 {
  @include line;
  top: 20px;
  left: 20px;
  transform: rotate(-30deg);
}

.line2 {
  @include line;
  top: 30px;
  left: 20px;
  transform: rotate(30deg);
}
