@use "sass:map";
@import "../variables";

.cell {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  @each $bp in $bps {
    @media (min-width: map.get($bps-sizes, $bp)) {
      width: map.get($cell-sizes, $bp);
      height: map.get($cell-sizes, $bp);
    }
  }
  transition: 0.2s ease-in-out;
  background-color: #f3f3ff;

  &_isOver {
    opacity: 0.5;
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: auto;

    &_blured {
      filter: blur(3px);
    }
  }

  &__input {
    display: flex;
    width: 100%;

    input {
      border: none;
      outline: none;
      border-radius: 8px;
      background-color: #f5f5f5;
      min-width: 100px;
      margin: 12px;
      transition: 0.2s ease-in-out;
      opacity: 0.3;
      flex-grow: 1;

      @media (min-width: $xs-bp) {
        padding: 0.8em;
        font-size: 0.8em;
      }

      @media (min-width: $md-bp) {
        padding: 0.9em;
        font-size: 0.9em;
      }

      @media (min-width: $lg-bp) {
        padding: 1em;
        font-size: 1em;
      }

      &:focus {
        opacity: 0.85;
        background-color: #ffffff;
      }
    }
  }

  &__hint {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #eceded;
    font-size: 20px;
    text-align: left;
    color: #666;
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    &_visible {
      z-index: 1;
      opacity: 0.9;
    }
  }
}
