.input {
  outline: none;
  border: none;
  font-size: 16px;
  background-color: transparent;
  line-height: 1.5em;
  padding: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

// todo: make round button component
@mixin button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  height: 28px;
  border: none;
  outline: none;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}

.acceptButton {
  @include button;
  background-color: #e2efdf;

  .first {
    transform: rotate(-45deg) translate(1px, -1px);
    width: 10px;
    height: 6px;
    border-left: 2px solid #4c990a;
    border-bottom: 2px solid #4c990a;
  }
}

.closeButton {
  @include button;
  background-color: #e1e1e1;

  @mixin dash {
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #727272;
  }

  .first {
    @include dash;
    transform: rotate(45deg);
  }

  .second {
    @include dash;
    transform: rotate(-45deg);
  }
}
