@use "sass:map";
@import "variables";

:global {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
}

.wrapper {
}

.row {
  display: flex;
}

.emptyCorner {
  @each $bp in $bps {
    @media (min-width: map.get($bps-sizes, $bp)) {
      width: map.get($header-heights, $bp);
      height: map.get($header-heights, $bp);
    }
  }
}

@mixin header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: ghostwhite;
  user-select: none;
}

.headerCell_horizontal {
  @include header-cell;

  @each $bp in $bps {
    @media (min-width: map.get($bps-sizes, $bp)) {
      width: map.get($cell-sizes, $bp);
      height: map.get($header-heights, $bp);
    }
  }
}

.headerCell_vertical {
  @include header-cell;

  @each $bp in $bps {
    @media (min-width: map.get($bps-sizes, $bp)) {
      width: map.get($header-heights, $bp);
      height: map.get($cell-sizes, $bp);
    }
  }

  span {
    transform: rotate(-90deg);
  }
}

.cell {
  &_urgentImportant {
    background-color: #cd5c5c;
  }

  &_notUrgentImportant {
    background-color: #ea9e49;
  }

  &_urgentNotImportant {
    background-color: #8465ef;
  }

  &_notUrgentNotImportant {
    background-color: #bbcfc0;
  }
}


