$bps: 'xs', 'sm', 'md', 'lg', 'xl';
$xs-bp: 200px;
$sm-bp: 640px;
$md-bp: 768px;
$lg-bp: 1024px;
$xl-bp: 1280px;

$bps-sizes: ('xs': $xs-bp, 'sm': $sm-bp, 'md': $md-bp, 'lg': $lg-bp, 'xl': $xl-bp);
$header-heights: ('xs': 40px, 'sm': 40px, 'md': 40px, 'lg': 50px, 'xl': 60px);
$cell-sizes: ('xs': 220px, 'sm': 250px, 'md': 300px, 'lg': 420px, 'xl': 500px);
